<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--扫描spring注解，使其生效-->
    <context:component-scan base-package="com.miao.springmvc"></context:component-scan>

    <bean id="dataConvert" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.miao.springmvc.convert.DataConvert"></bean>
            </list>
        </property>
    </bean>
    <!--注解驱动，如何理解，比如我们在用鼠标之前，需要安装鼠标驱动，安装驱动后才可以正常使用鼠标功能-->
    <mvc:annotation-driven conversion-service="dataConvert"></mvc:annotation-driven>
    <!--访问path的时候，没有找到对应的mapping，就跳转的到view-name-->
    <mvc:view-controller path="testView" view-name="/result3.jsp"/>
    <mvc:annotation-driven></mvc:annotation-driven>   <!-- 此注解与<mvc:....>注解配合使用，如果用了<mvc:.......>不用此注解会导致controller层的@requestMapping映射失效-->

    <!--web.xml <url-pattern>/</url-pattern>时访问静态资源-->
<!--    <mvc:default-servlet-handler></mvc:default-servlet-handler>-->

    <!-- 此注解功能与<mvc:default-servlet-handler></mvc:default-servlet-handler>相同-->
    <mvc:resources location="/img/" mapping="/img/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>


    <!--springmvc上传文件的配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="102400"></property>
    </bean>
</beans>